main.cv {
  background-color: #FFF;
  color: #000;
  padding: 40px;
  width: 70%;
}

body {
  color: #000;
}

h2.cv {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}

hr {
  border-top: 7px solid #44898E;
  max-width: 95%;
}

ul {
  list-style-type: none;
}

a {
  color: #44898E;
}

table {
  color: #000;
  border-collapse: collapse;
}

.item {
  padding-top: 10px;
}

.soustitre {
  padding-top: 20px;
}

.année {
  color: #44898E;
 }

.vert {
  color: #44898E;
}

.colonneG {
  display: flexbox;
  width: 22%;
  background-color: #DBEEF4;
  border-right: 1px solid #44898E;
}

.colonneD {
  display: flexbox;
  position: relative;
  padding: 20px;
}

.competence {
  margin-left: 4%;
  width: 80%;
}

.titrecol {
  margin-top: 1px;
  padding: 5px;
  background-color: #44898E;
  color: #FFFFFF;
  text-align: center;
  position:relative;
}

.titrecolcompetence{
  text-align: center;
  font-weight: bold;
}

td.block {
  padding-left: 10px;
  border-top: 1px dotted  #44898E;
  border-left: 1px solid  #44898E;
}

td.block2 {
  padding-left: 10px;
  border-top: 1px dotted  #44898E;
}

td#block3{
  border-top: 7px solid #44898E ;
}

.photo {
  margin-top: -30%;
  text-align: center;
}