form {
  margin-top: 2%;
  color: darkgrey;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#numberInput{
  width: 10%;
}

input {
  padding: 5px;
  margin: 5px;
  color:#FFF;
  border-radius: 30px;
  background-color: #555;
  border-top: 1px solid #777;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

img {
  z-index: -3;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80.3vh;
}
